<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474689839485-bmm2rf17rf5tebjteiqd6stuobntk5ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474689839485-bmm2rf17rf5tebjteiqd6stuobntk5ni</string>
	<key>API_KEY</key>
	<string>AIzaSyBZR6RDPFfHGBJ7QdnQDesaWd3lPG3Jz1M</string>
	<key>GCM_SENDER_ID</key>
	<string>474689839485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecommerce.organic</string>
	<key>PROJECT_ID</key>
	<string>organic-bafae</string>
	<key>STORAGE_BUCKET</key>
	<string>organic-bafae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474689839485:ios:3ddea0aa6be90069536c14</string>
</dict>
</plist>